/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/* Navbar animation */
.navbar {
  background-color: rgba(9, 54, 85, 1); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }

/*Additional css*/
.font_s{
  font-size: 1.3em;
}

body{
  color: rgba(9, 54, 85, 1);
}

.dgrey-text{
  color: #686868  ;
  font-size: 16px;
}

.img_food{
  width: 400px;
  margin-left: 50px;
}

.below_img{
  width: 350px;
  margin-left:70px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
}

.below_img_1{
  width: 200px;
  margin-left:150px;
  margin-top: 10px;
  font-size: 16px;
}

.m10{
  margin-left: -20px;
}

.inline_element{
  display:inline-block;
  margin-top: 100px;
}